* {
  color: #f0f0f0;
}
body {
  background: #353535;
}
button{
  background: #555;
}
/* HEADER */
.header {
  border-bottom: 1px solid #c5c5c5;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px 10px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
/* NAV BAR */
.nav__bar {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 10px 4px 30px 5px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.nav__menu--item:hover {
  color: aqua;
}
.active {
  color: #eee;
}

/* POSTS */
.post {
  border: 1px solid #a1a1a1;
  box-shadow: 0px 3px 3px #8a8a8a;
  background: #282828;
  color: #f3f3f3;
}
.post__btn--like {
  background: #282828;
}
.post__comments--btn i {
  color: #f3f3f3;
}
.post__btn--like i.fas {
  color: #ea3a3a;
}
/* MODAL WINDOW */
.modal__window {
  background: #e5e7e3;
  box-shadow: 0px 0px 8px 1px #383838;
}

/* COMMENTS */
.comment {
  background: #585858;
  border: #c9c9c9;
}
